apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-secrets-crs
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets-crds
  interval: 10m
  timeout: 5m
  path: ./infrastructure/controllers/crs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
