apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - az-secrets.yaml
  - clustersecretstore.yaml
  #- externalsecret.yaml
  - deployment-crds.yaml
