apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
  labels:
    app: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        runAsUser: 1000 #applied to volume mount
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: audiobookshelf
        image: ghcr.io/advplyr/audiobookshelf:2.26.0
        ports:
        - containerPort: 3005
        volumeMounts:
          - name: audiobooks
            mountPath: /audiobooks
          - name: podcasts
            mountPath: /podcasts
          - name: config
            mountPath: /config
          - name: metadata
            mountPath: /metadata
        securityContext:
          allowPrivilegeEscalation: false
        envFrom:
          - configMapRef:
              name: audiobookshelf-env
      volumes:
      - name: audiobooks
        persistentVolumeClaim:
          claimName: audiobookshelf-audiobooks
      - name: podcasts
        persistentVolumeClaim:
          claimName: audiobookshelf-podcasts
      - name: config
        persistentVolumeClaim:
          claimName: audiobookshelf-config
      - name: metadata
        persistentVolumeClaim:
          claimName: audiobookshelf-metadata