apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: audiobookshelf
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - audiobookshelf-env.yaml
  - storageAudiobooks.yaml
  - storageConfig.yaml
  - storageMetaData.yaml
  - storagePodcasts.yaml
