apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "66.2.2"

      # version: "58.x"

      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      
      enabled: true
      # ... other grafana config ...

      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - grafana.test104.pl
        tls:
        - secretName: grafana-tls
          hosts:
            - grafana.test104.pl
      admin:
        existingSecret: grafana-secret
        userKey: adminUser
        passwordKey: adminPassword
      persistence:
        enabled: true
        existingClaim: grafana-pvc

---

apiVersion: v1
kind: PersistentVolumeClaim
namespace: monitoring
metadata:
  name: grafana-data-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
