apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  labels:
    app: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
     # securityContext:
      #  runAsUser: 33 #applied to volume mount
      #  runAsGroup: 33
      #  fsGroup: 33
      containers:
      - name: linkding
        image: sissbruecker/linkding:1.39.0
        ports:
        - containerPort: 9090
        volumeMounts:
          - name: linkding-data
            mountPath: /etc/linkding/data
        securityContext:
          allowPrivilegeEscalation: false
        envFrom:
          - secretRef:
              name: linkding-secret
     # volumes:
    #  - name: linkding-data
    #    persistentVolumeClaim:
     #     claimName: linkding-data-pvc