apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  labels:
    app: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        runAsUser: 82 #applied to volume mount
        runAsGroup: 82
        fsGroup: 82
      containers:
      - name: linkding
        image: sissbruecker/linkding:1.39.0
        ports:
        - containerPort: 9090
        volumeMounts:
          - name: linkding-data
            mountPath: /etc/linkding/data
        securityContext:
          allowPrivilegeEscalation: false
        env:
          - name: LD_SUPERUSER_NAME
            valueFrom:
              secretKeyRef:
                name: linkding-secret
                key: LD_SUPERUSER_NAME
          - name: LD_SUPERUSER_PASSWORD
            valueFrom:
              secretKeyRef:
                name: linkding-secret
                key: LD_SUPERUSER_PASSWORD
      volumes:
      - name: linkding-data
        persistentVolumeClaim:
          claimName: linkding-data-pvc